.header__container {
    justify-content: flex-end;
    /* align-items: center; */
    display: flex;
}


@media screen and (max-width: 900px) {
    .header__container  {
      margin-top: 28px;

    }
  }