.profile__wrap {
  display: flex;
  gap: 18px;

}

@media screen and (max-width: 768px) {
  .profile__wrap {
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: inherit;
    text-align: center;
}
}
