.header__logo {
  max-width: 142px;
  height: 33px;
  margin-bottom: 41px;
}


@media screen and (max-width: 900px) {
  .header__logo {
    margin-top: 28px;
    margin-left: 27px;
    margin-bottom: 27.6px;
    width: 103.736px;
    height: 24.396px;
  }
}
