.registration__input {
    color: #cccccc;
    background-color: transparent;
    margin: 0 auto 30px;
    min-width: 358px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
}
    
 .registration__input:last-child {
    margin: 0;
}
